@font-face {
    font-family: spray;
    src: url(font/ALTERBREAK.ttf);
}

@font-face {
    font-family: cyper;
    src: url(font/CyberwarRegular-7BX0E.ttf);
}

@font-face {
    font-family: mecha;
    src: url(font/Mechapunk.otf);
}

@font-face {
    font-family: copy;
    src: url(font/NothingYouCouldDo.ttf);
}

@font-face {
    font-family: leipa;
    src: url(font/SpaceMono-Regular.ttf);
}

@font-face {
    font-family: italic;
    src: url(font/SpaceMono-Italic.ttf);
}

@font-face {
    font-family: bold;
    src: url(font/SpaceMono-Bold.ttf);
}

.no-hover:hover {
    pointer-events: none;
}

:root {
    --dark-gold: #0f0f0c;
    --gold: #99835c;
    --blue: #69d3ff;
    --pink: #ff3eb5;
    --yellow: #ffe900;
    --black: #000;
    --white: #fff;
    --red: #f40e00;
    --orange: #f7a500;
}

html {
    color: var(--white);
    font-family: leipa;
    padding: 0;
    margin: 0;
    background: var(--black);
    text-align: center;
    width: 100%;
    height: 100%;
}

h1, h2 {
    transform: rotate(-3deg);
    font-family: spray;
    cursor: default;
    position: relative;
    color: var(--black);
    background-color: var(--yellow);
    margin: -1em 0 0.5em -1em;
    left: -0.5em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    text-align: left;
    font-weight: 800;
    display: inline-block;
    box-shadow: 0.05em 0.05em 0 var(--pink), 0.1em 0.1em 0 var(--pink);
    text-shadow: 0.05em 0.05em 0 var(--pink);
    font-size: 2em;
}

h2 {
    top: 0.5em;
    font-size: 1.5em;
    box-shadow: 0.05em 0.05em 0 var(--blue), 0.1em 0.1em 0 var(--blue), 0.15em 0.15em 0 var(--blue);
    text-shadow: 0.05em 0.05em 0 var(--blue);
    margin: 0.25em -1.25em 1em;
}

h2 > a:hover {
    color: var(--pink);
    text-shadow: none;
}

p {
    line-height: 1.2em;
    padding: 0;
    margin: 0;
    padding-bottom: 0.7em;
    text-shadow:
        0.1em 0.1em 0 var(--black),
        0.15em 0.15em 0 var(--black);
}

body {
    text-align: center;
    display: block;
    align: center;
    width: 100%;
    max-width: 1000px;
    margin: -3.5em auto 0;
    padding: 0;
}

header {
    position: relative;
    display: block;
    margin: 0 auto 0;
    padding-bottom: 0;
    padding-top: 5em;
    border: #777 1px dashed;
    border-bottom: none;
    width: 37.5em;
}

header, main, footer {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

name {
    z-index: 5;
    top: 1.5em;
    margin: 0 auto;
    color: var(--yellow);
    font-family: cyper;
    font-size: 5em;
    overflow: visible;
    background: none;
    text-shadow:
        -0.01em -0.01em 0.02em var(--black),
        0.01em 0.01em 0 var(--black),
        0.05em 0.05em 0 var(--pink);
    position: relative;
    display: block;
    transform: rotate(10deg) skew(-10deg, -5deg);
    cursor: default;
}

links {
    z-index: 10;
    font-family: spray;
    position: relative;
    display: block;
}

links > a {
    text-decoration: none;
    color: var(--blue);
    padding: 0.7em 0.25em;
    display: inline-block;
    font-size: 1.5em;
    text-shadow:
        0.02em 0.02em 0 var(--black),
        0.05em 0.05em 0 var(--pink),
        0.15em 0.15em 0 var(--pink);
    transition: 0.3s;
    position: relative;
}

links > a:hover {
    cursor: pointer;
    transform: rotate(-5deg) skew(5deg, 1deg);
    text-shadow:
        0.05em 0.05em 0 var(--black),
        0.15em 0.15em 0 var(--pink),
        0.25em 0.25em 0 var(--pink);
    transition: 0.3s;
    color: var(--blue);
}

links > .active {
    transform: rotate(2deg) skew(5deg, 1deg);
    transition: 0.3s;
}

links > .active, links > a:hover {
    padding: 0;
    font-size: 1.7em;
}

.upper {
    font-size: 1.7em;
    transform: rotate(7deg);
    display:inline-block;
    position: relative;
    left: 0.15em;
    z-index: 10;
}

.shift-right {
    position: relative;
    left: 0.4em;
}

.mecha {
    margin-left: 0.06em;
    margin-right: -0.2em;
    font-family: mecha;
}

main {
    margin: 0 auto;
    padding-bottom: 1em;
    width: 37.5em;
    text-align: justify;
    border: #777 1px dashed;
    border-top: none;
}

pre {
    overflow: hidden;
    border: 1px solid var(--gold);
    border-radius: 2px;
    padding: 1em;
    background-color: var(--dark-gold);
}

pre:hover {
    box-shadow: 0 0 0.5em var(--gold);
}

.quote {
    width: 80%;
    margin-left: 10%;
    border: none;
    background: none;
    color: var(--pink);
}

.quote > span {
    color: var(--orange);
}

footer {
    width: 80em;
    opacity: 0.15;
    font-size: 0.5em;
    text-align: left;
    font-family: copy;
    margin: 0.25em auto 5em;
    display: block;
}

footer > p {
    margin: 0;
    padding: 0;
    width: 100%;
}

footer > p::before {
    content: "©";
    transform: rotate(-180deg);
    display: inline-block;
    position: relative;
    top: -0.2em;
    left: -0.3em;
}

.nihao {
    width: 50em;
    margin-left: -10em;
    display: inline;
    float: left;
    top: 8em;
    z-index: -5;
    position: absolute;
    opacity: 0.1;
    transform: rotate(-25deg);
}
.face {
    z-index: -4;
    display: inline;
    float: right;
    margin: 0.8em -1.5em 0 0;
    position: absolute;
    object-fit: cover;
    object-position: 50% 0;
    filter: grayscale(100%);
}

.color-overlay {
    z-index: -3;
    display: inline;
    float: right;
    position: absolute;
    background-color: var(--blue);
    opacity: 0.4;
}

.face, .color-overlay {
    display: inline;
    float: right;
    width: 15rem;
    height: 15rem;
    mask-image: url(/img/mask.png);
    mask-size: 200%;
    mask-position:-10rem -9rem, center;
    transform: scale(-1, 1);
    margin-left: 24em;
    margin-top: 0.02em;
}

ol, ul {
    padding: 0;
    margin :0;
    counter-reset: section;
}

ol > li {
    margin-left: 3em;
    text-align: left;
}

ul > li {
    margin-left: 2em;
}

.archive > li {
    text-align: left;
    padding: 0;
    margin: 0;
    list-style-type: none;
    color: var(--orange);
    transition: 0.3s;
}

.archive > li > a {
    width: 100%;
    display: inline-block;
    color: var(--orange);
    transition: 0.3s;
    font-family: leipa;
}

del {
    height: 10px;
    text-decoration-color: var(--red);
    text-decoration-thickness: 0.4em;
}

.archive > li > a > span {
    color: var(--white);
    transition: 0.3s;
    font-family: leipa;
}

.archive > li:hover, .archive > li:hover a, .archive > li:hover a > span {
    color: var(--black);
    text-shadow: none;
    background: var(--orange);
}

.archive > li:hover {
    box-shadow: 0.2em 0.2em 0 var(--gold);
    position: relative;
    top: -2px;
    left: -2px;
    padding: 0 0.2em;
    margin: 0  0 0 -0.2em;
    transition: 0.3s;
}

.archive > li > a::before {
    counter-increment: section;
    content: counter(section) "...";
}

a {
    text-decoration: none;
    color: var(--pink);
    font-size: 1em;
}

a:hover {
    color: var(--yellow);
    text-shadow:
        0.16em 0.16em 0 var(--pink);
}

main > * > a:hover {
    position: relative;
    top: -1px;
    left: -1px;
}

img {
    position: relative;
    z-index: -100;
    width: 108%;
    margin: 0 0 0 -4%;
    padding: 0 0 1em 0;
}

.socials {
    font-family: leipa;
}

.socials::before {
    content: "» ";
}

