.showcase, h3, h2, h1 {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

h2 {
    font-size:2.2em
}

.nav {
    display: block;
    float: left;
    min-height: 324px;
    min-width: 165px;
    max-width: 190px;
}

.nav > a:hover, .nav > a > h2:hover {
    color: #d33682;
}

.about {
    max-width: 605px;
    display: block;
    float: right;
    margin-bottom: 15px;
}

.face {
    border:1pt solid #586e75;
    float: left;
    margin: 15px 20px 0 0;
}

.bulky {
    min-height: 230px;
}

code {
    font-family: 'Courier New', Courier, monospace;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 96%;
    border: 1px solid #586e75;
}

.ce {
    display: inline-block;
    width: 150px;
    height: 80px;
    margin-right: 12px;
    max-height: initial;
    cursor: pointer;
    border: 1px solid #586e75;
}

.ce:hover {
    border: 1px solid #d33682;
}

.imgLink {
    text-decoration: none;
}

@media (max-width: 900px) {
    .nav {
        float: none;
    }
    .about {
        float: none;
        margin-bottom: 10px;
    }
}
