label {
    float: left;
    text-align: left;
    display: block;
    margin-right: 5px;
    text-transform: capitalize;
    width: 70px;
    font-size: 20px;
    color: #A0C4E8;
}

input {
    font-family: "VT323", "Lucide Console", monospace;
    font-size: 16px;
    color: #fcfcfc;
    background: #000;
    border:1px solid #333;
    border-radius: 2px;
    margin: 2px 0 5px 4px;
    width: 468px;
    padding: 0;
    font-size: 20px;
    position: relative;
    top: -1px;
}

.disabled_field_input {
    border: 0 !important;
    border: 1px solid #111;
    border-radius: 2px;
    background: #111;
    box-shadow: none;
    width: 470px;
}

input:focus {
    border-color: #E8E8A0;
}
