@font-face {
    font-family: spray;
    src: url(font/ALTERBREAK.ttf);
}

@font-face {
    font-family: cyper;
    src: url(font/CyberwarRegular-7BX0E.ttf);
}

@font-face {
    font-family: mecha;
    src: url(font/Mechapunk.otf);
}

@font-face {
    font-family: copy;
    src: url(font/NothingYouCouldDo.ttf);
}

@font-face {
    font-family: leipa;
    src: url(font/SpaceMono-Regular.ttf);
}

@font-face {
    font-family: italic;
    src: url(font/SpaceMono-Italic.ttf);
}

@font-face {
    font-family: bold;
    src: url(font/SpaceMono-Bold.ttf);
}

.no-hover:hover {
    pointer-events: none;
}

:root {
    --dark-gold: #0f0f0c;
    --gold: #99835c;
    --blue: #69d3ff;
    --pink: #ff3eb5;
    --yellow: #ffe900;
    --black: #000;
    --always-black: #000;
    --white: #fff;
    --red: #f40e00;
    --orange: #f7a500;
    --link: var(--pink);
    --link-hover: var(--yellow);
    --big-link: var(--blue);
}

html {
    color: var(--white);
    font-family: leipa;
    padding: 0;
    margin: 0;
    background: var(--black);
    text-align: center;
    width: 100%;
    height: 100%;
}

h1, h2 {
    transform: rotate(-3deg);
    font-family: spray;
    cursor: default;
    position: relative;
    color: var(--always-black);
    background-color: var(--yellow);
    margin: -1em 0 0.5em -1em;
    left: -0.5em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    text-align: left;
    font-weight: 800;
    display: inline-block;
    box-shadow: 0.05em 0.05em 0 var(--pink), 0.1em 0.1em 0 var(--pink);
    text-shadow: 0.05em 0.05em 0 var(--pink);
    font-size: 2em;
}

h2 {
    top: 0.5em;
    font-size: 1.5em;
    box-shadow: 0.05em 0.05em 0 var(--blue), 0.1em 0.1em 0 var(--blue), 0.15em 0.15em 0 var(--blue);
    text-shadow: 0.05em 0.05em 0 var(--blue);
    margin: 0.25em -1.25em 1em;
}

h2 > a:hover {
    color: var(--pink);
    text-shadow: none;
}

p {
    line-height: 1.2em;
    padding: 0;
    margin: 0;
    padding-bottom: 0.7em;
    text-shadow:
        0.1em 0.1em 0 var(--black),
        0.15em 0.15em 0 var(--black);
}

body {
    text-align: center;
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: -8.5em auto 0;
    padding: 0;
}

header {
    position: relative;
    display: block;
    margin: 0 auto 0;
    padding-bottom: 0;
    padding-top: 5em;
    border: #777 1px dashed;
    border-bottom: none;
    width: 37.5em;
}

header, main, footer {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

name {
    z-index: 5;
    top: 1.5em;
    margin: 0 auto;
    color: var(--yellow);
    font-family: cyper;
    font-size: 5em;
    overflow: visible;
    background: none;
    text-shadow:
        -0.01em -0.01em 0.02em var(--always-black),
        0.01em 0.01em 0 var(--always-black),
        0.05em 0.05em 0 var(--pink);
    position: relative;
    display: block;
    transform: rotate(10deg) skew(-10deg, -5deg);
    cursor: default;
}

links {
    z-index: 10;
    font-family: spray;
    position: relative;
    display: block;
}

links > a {
    text-decoration: none;
    color: var(--blue);
    padding: 0.7em 0.25em;
    display: inline-block;
    font-size: 1.5em;
    text-shadow:
        0.02em 0.02em 0 var(--always-black),
        0.05em 0.05em 0 var(--pink),
        0.15em 0.15em 0 var(--pink);
    position: relative;
}

links > a:hover {
    cursor: pointer;
    transform: rotate(-5deg) skew(5deg, 1deg);
    text-shadow:
        0.05em 0.05em 0 var(--always-black),
        0.15em 0.15em 0 var(--pink),
        0.25em 0.25em 0 var(--pink);
    transition: 0.3s;
    color: var(--blue);
}

links > .active {
    transform: rotate(2deg) skew(5deg, 1deg);
}

links > .active, links > a:hover {
    padding: 0;
    font-size: 1.7em;
}

.upper {
    font-size: 1.7em;
    transform: rotate(7deg);
    display:inline-block;
    position: relative;
    left: 0.15em;
    z-index: 10;
}

.shift-right {
    position: relative;
    left: 0.4em;
}

.mecha {
    margin-left: 0.06em;
    margin-right: -0.2em;
    font-family: mecha;
}

main {
    margin: 0 auto;
    padding-bottom: 1em;
    width: 37.5em;
    text-align: justify;
    border: #777 1px dashed;
    border-top: none;
}

pre {
    overflow: hidden;
    border: 1px solid var(--gold);
    border-radius: 2px;
    padding: 1em;
    background-color: var(--dark-gold);
}

pre:hover {
    box-shadow: 0 0 0.5em var(--gold);
}

.quote {
    width: 80%;
    margin-left: 10%;
    border: none;
    background: none;
    color: var(--pink);
}

.quote > span {
    color: var(--orange);
}

footer {
    width: 80em;
    opacity: 0.15;
    font-size: 0.5em;
    text-align: left;
    font-family: copy;
    margin: 0.25em auto 5em;
    display: block;
}

footer > p {
    margin: 0;
    padding: 0;
    width: 100%;
}

footer > p::before {
    content: "©";
    transform: rotate(-180deg);
    display: inline-block;
    position: relative;
    top: -0.2em;
    left: -0.3em;
}

ol, ul {
    padding: 0;
    margin :0;
    counter-reset: section;
}

ol > li {
    margin-left: 3em;
    text-align: left;
}

ul > li {
    margin-left: 2em;
}

.archive > li {
    text-align: left;
    padding: 0;
    margin: 0;
    list-style-type: none;
    color: var(--orange);
}

.archive > li > a {
    width: 100%;
    display: inline-block;
    color: var(--orange);
    font-family: leipa;
}

del {
    height: 10px;
    text-decoration-color: var(--red);
    text-decoration-thickness: 0.4em;
}

.archive > li > a > span {
    color: var(--white);
    font-family: leipa;
}

.archive > li:hover, .archive > li:hover a, .archive > li:hover a > span {
    color: var(--black);
    text-shadow: none;
    background: var(--orange);
}

.archive > li:hover {
    box-shadow: 0.2em 0.2em 0 var(--gold);
    position: relative;
    top: -2px;
    left: -2px;
    padding: 0 0.2em;
    margin: 0  0 0 -0.2em;
    transition: 0.3s;
}

.archive > li > a::before {
    counter-increment: section;
    content: counter(section) "...";
}

a {
    text-decoration: none;
    color: var(--link);
    font-size: 1em;
}

a:hover {
    color: var(--link-hover);
    text-shadow:
        0.16em 0.16em 0 var(--pink);
}

main > * > a:hover {
    position: relative;
    top: -1px;
    left: -1px;
}

img {
    position: relative;
    z-index: -100;
    width: 108%;
    margin: 0 0 0 -4%;
    padding: 0 0 1em 0;
}

.socials {
    font-family: leipa;
}

.socials::before {
    content: "» ";
}

.mode-changer {
    z-index: 100;
    text-align: right;
    display: block;
    left: 5em;
    top: 1.67em;
    position: --webkit-sticky;
    position: sticky;
    margin: 0 auto;
    padding-right: 10em;
    width: 37.5em;
    opacity: 0.3;
}

.mode-changer:hover {
    opacity: 1;
}

.mode-button {
    cursor: pointer;
    position: relative;
    left: 26.1em;
    text-align: center;
    width: 1.1em;
    height: 1.1em;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0;
    margin: 0 auto 0.15em;
    background-color: red;
}

.semi-circle {
    margin: 0 auto;
    padding: 0;
    position: relative;
    top: -0.49em;
    left: 0.19em;
    display: inline-block;
    transform: rotate(45deg);
    width: 1.1em;
    height: 0.55em;
    background-color: #48abe0;
    border-radius: 5em 5em 0 0;
}

.dark-mode {
    background-color: #ff3eb5;
    border-color: #fff;
}

.dark-mode > .semi-circle {
    background-color: #ffe900;
}

.light-mode {
    background-color: #ffb4b4;
    border-color: #fff;
}

.light-mode > .semi-circle {
    background-color: #feff86;
}

.black-and-white-mode {
    background-color: #000;
    border-color: #c3c3c3;
}

.black-and-white-mode > .semi-circle {
    background-color: #fff;
}

.mode-button:hover {
    box-shadow: 0 0 0.5em var(--gold);
}
